@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');


:root {
  --main-color: #1E293B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
  color: white;
  padding-left: 15px;
}

a:hover {
  color: rgb(184, 77, 95);
}


.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: var(--main-color);
}

.feature {
  color: white;
  display: grid;
  height: 250px;
  padding: 20px 20px 0 20px;
  grid-template-columns: 2fr 1fr;
  background-color: var(--main-color);

}

.feature .info {
  margin-top: 20px;

}

form {
  margin: 10px 0;
}

input {
  outline: none;
  padding: 2px 5px;
  width: 200px;

}

.feature button {
  padding: 4px 10px;
  color: black;
  border: none;
  background-color: rgb(211, 91, 111);
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.courses {
  display: grid;
  gap: 20px;
  padding: 0 20px;
  grid-template-columns: repeat(3, 1fr);
  margin: 70px 0 0 0;
}

.course .icon {
  text-align: center;
  color: var(--main-color);
  padding-bottom: 10px;
}

.course p {
  line-height: 1.2rem;
  font-size: 1.1rem;
  text-align: justify;
}


.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 0;
  padding: 0 20px;
  align-items: start;
  gap: 10px;
}

.card-box {
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.testimonials .card-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin-bottom: 5px;
}

.card-info img {
  width: 100%;
  clip-path: circle();
}

.comment {
  margin-left: 15px;
}